
/* body */
body{
    margin:0;
    background-color:black;
    background: linear-gradient(to right, grey, black );
}
/* h2 */
h2{
    text-decoration-line: underline;
    font-family:'Bungee Shade';
    font-size:30px;
}
/* p and h2 */
p, h2{
    color:white;
    text-align: center;
    font-family:'Andika';
    font-size: 22px;
    overflow: hidden;
    margin:0;
}


.logo{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
 
} 
img.car{
    width:5%;
    height:5%;
}

#move{
    width:5%;
    height:5%;
    position:relative;
    -webkit-animation-name:car;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: car;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes car{
    0%{left:0%;
        right:0%;
    }
    100%{
        left: 65%;
        top:0%;
    }
}
@keyframes car{
    0%{left:0%;
        right:0%;
    }
    100%{
        left:65%;
        right: 0%;
    }
}

#Registered{
    position: relative;
    width: 30%;
    height: 25%;
    background-color:  rgb(228, 235, 235);
    left:69.5%;
    border-radius: 3%;
}
#Registered p{
    color:black;
}

.midsection{
   padding:9% 0% 0% 0%
}


.info{
    position:relative;
    display: flex;
    flex-direction: column;
}
.section{
    width:100%;
    display:flex;
    position: absolute;
    top:92%;
    flex-direction: row;
    justify-content: space-between;
    color:white;

}

/* box with social media icons and links */
 .icon{
     position:relative;
     list-style-type: none;
     color:white;

 }
 ul{
     display:flex;
     justify-content: space-around;
     position:relative;
     width:21%;
     margin:0%;
     padding-top: 2%;

 }
 i.icons:hover{
     transform:translate(30%,2%) scale(1.1);
     color:black;
 }



 /* row-1 containing box sign up and login modals and buttons*/
.row-1{
    /* height:30%; */
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    border-radius: 7%;
    padding: 10px 4px 0px 6px;

}

/* div containing the buttons */

.smallbox{
    width:30%;
    background-color: white;
}

/* the sign up and login buttons */
.Buttons{
    width:100%;
    height:100%;
    border-bottom-color: black;
    background-color:  lightgrey;
    border-radius: 10%;
    margin: 0;

}
/* introduction to sign up just below sign up &login buttons */
/* .Intro{
    height:83%;
    position:absolute;
    top:17%;
    background-color: rgb(48, 103, 105);

} */

/* signup modal id=SignUpModal */
#SignUpModal{
    display:none;
    position:absolute;
    top:42%;
    left:36.9%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 235, 235);
    color:black;
    padding:1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

/* login id-=LogInModal*/
#LogInModal{
    display:none;
    position:absolute;   
    top:50%;
    right:25%;
    transform:translate(15%, -50%);
    background-color: blueviolet;
    padding:1rem 1.5rem;
    width:24em;
    border-radius:0.5rem; 
}

/* close icon */
.Close{
    cursor: pointer;
    border-radius:100%;
    background-color: white;
}
/* closing icon modal on hover */
.Close:hover{
    background-color: black;
}

/* login signup submit button */
.SubmitButton {
    width:50%;
}

/* footer */
footer{
    position:absolute;
    text-align: center;
    color:white;
    top:100%;
    width:100%;
}
