

/* landing page */
/* body */
body{
    margin:0;
    background-color:black;
    background: linear-gradient(to right, grey, black );
}
/* h2 */
h2{
    text-decoration-line: underline;
    font-family:'Bungee Shade';
    font-size:30px;
}
/* p and h2 */
p, h2{
    color:white;
    text-align: center;
    font-family:'Andika';
    font-size: 22px;
    overflow: hidden;
    margin:0;
}


.logo{
    background-color: black;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
 
} 

#move{
    width:5%;
    height:5%;
    position:relative;
    -webkit-animation-name:car;
    -webkit-animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-name: car;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes car{
    0%{left:0%;
        right:0%;
    }
    100%{
        left: 65%;
        top:0%;
    }
}
@keyframes car{
    0%{left:0%;
        right:0%;
    }
    100%{
        left:65%;
        right: 0%;
    }
}
#Registered{
    position: relative;
    width: 30%;
    height: 25%;
    background-color:  rgb(228, 235, 235);
    left:0.5%;
    border-radius: 4%;
}
#Registered p{
    color:black;
}

.info{
    position:relative;
    display: flex;
    flex-direction: column;
}
.section{
    width:100%;
    display:flex;
    position: absolute;
    top:92%;
    flex-direction: row;
    justify-content: space-between;
    color:white;

}

/* box with social media icons and links */
 .icon{
     position:relative;
     list-style-type: none;
     color:white;

 }
 ul{
     display:flex;
     justify-content: space-around;
     position:relative;
     width:21%;
     margin:0%;
     padding-top: 2%;

 }
 i.icons:hover{
     transform:translate(30%,2%) scale(1.1);
     color:white;
 }

 /* row-1 containing box sign up and login modals and buttons*/
.row-1{
    width:30%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position:relative;
    border-radius: 7%;
    padding: 10px 4px 0px 6px;

}

/* div containing the buttons */

.smallbox{
    width:30%;
    background-color: white;
}

/* the sign up and login buttons */
.Buttons{
    width:139%;
    height:100%;
    cursor: pointer;
    border-bottom-color: black;
    background-color:  lightgrey;
    border-radius: 10%;
    margin: 0;
    
}
/* introduction to sign up just below sign up &login buttons */
.Intro{
    height:83%;
    position:absolute;
    top:17%;
    /* border-radius: 5%; */
    background-color: rgb(48, 103, 105);
    
}

/* signup modal id=SignUpModal */
#SignUpModal{
    display:none;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 235, 235);
    color:black;
    padding:4% 5%;
    width: 33%;
    border-radius: 0.5rem;
}

/* login id-=LogInModal*/
#LogInModal{
    display:none;
    position:absolute;
    top:60%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 235, 235);
    color:black;
    padding:4% 5%;
    width: 33%;
    border-radius: 0.5rem;
}


/* close icon */
.Closes{
    cursor: pointer;
    border-radius:90%;
    background-color:black;
}
/* closing icon modal on hover */
.Closes:hover{
    background-color:white;
}

/* login signup submit button */
.SubmitButton {
    width:68%;
    padding-bottom: 6%;

}

.ClosesColumn{
    width:100%;
    background-color:black;

}
.ClosesColumn:hover{
    background-color:rgb(34, 31, 31);
}

/* REGISTER */
.form{
    position: relative;
    border-radius: 2%;
    width: 50%;
    background-color:  rgb(228, 235, 235);
    padding:1% 4% 4% 4%;
    left:21%;
    margin:0;
    top:90%;
}
input[type=text]{
    /* width:50%; */
    padding:8% 9% 1% 26%;
    margin: 4% 0%;
    display: inline-block;
    border: 2% solid black;
    border-radius: 2%;
    box-sizing: border-box;
}
input[type=submit]{
    /* width:50%; */
    /* background-color: orangered; */
    color: black;
    padding: 5% 2% 0% 0%;
    cursor: pointer;
    
    
}
input[type=submit]:hover{
    background-color: oldlace;
    
}
fieldset{
    border-radius: 2%;
    padding-left:33%;
}
h3{
    align-content: center;
}
footer{
    background-color: black;
    color:white;
    position: absolute;
    width:100%;
    top:100%;
    
}
#foot{
    top:113%;
}
/* DASHBOARD */

#googlemap{
    background-size: cover;

}

#bodysection{
    background-color: blanchedalmond !;
}

.navitems{
    display: flex;
    justify-content: space-between;
    width:50%;
}
/* #fit{
    width:5%;
} */
div#requestDetails{
    background-color: #ddd;
    z-index: 3;
}
#requestDetails{
    display:none;
    flex-direction: column;
    width:20%;
    /* height:30%; */
    position: relative;
    left:50%;
    border-radius:3%;
    margin:0%;

}

#sidemodal{
    display:flex;
    display:none;
    flex-direction: column;
    background-color:rgb(228, 235, 235); 
    width:18%;
    /* height:50%; */
    color: black;
}
#RequestButton{
    width:100%;

}
.sidenav{
    width:100%;
    height:10%;
    background-color:rgba(0, 0, 0, 0.37);
}
.sidenav:hover{
    background-color: #ddd;
}
#sideclose{
    background-color: black;
    color:white;
    width:50%;
    border-radius: 4%;
    align-content: center;
    left:50%;
    /* padding-left: 50%; */
}
/* request tables */
.Table{
    display:none;
}
p#requests{
    color:black;
}
#requestTable {
    border-collapse: collapse;
    width: 100%;}

#requestTable td, #requestTable th {
    border: 1px solid #ddd;
    padding: 11px;
}
#requestTable tr:nth-child(even){background-color: #f2f2f2;}
#requestTable tr:hover {background-color: #ddd;}

#requestTable{
    padding-top: 12px;
    /* display:none; */
    padding-bottom: 12px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.37);
    color:black;
}
/* acceptance/rejection button */
td label.accept{
    padding: 0%;
}
.accept{
    position: relative;
    border-radius: 2%;
    width: 50%;
    /* height: 100%; */
    background-color:  rgb(228, 235, 235);
    padding:1% 4% 4% 4%;
    left:21%;
    margin:0;
    top:100%;
}
input [type=text]{
    /* width:50%; */
    padding:2% 4%;
    margin: 1% 0%;
    display: inline-block;
    border: 2% solid black;
    border-radius: 2%;
    box-sizing: border-box;
}
input [type=submit]{
    /* width:50%; */
    /* background-color: orangered; */
    color: black;
    padding: 5% 2%;
    cursor: pointer;
    
    
}
input[type=submit]:hover{
    background-color: oldlace;
    
}
fieldset{
    border-radius: 2%;
    padding-left:33%;
}
h3{
    align-content: center;
}
footer{
    background-color: black;
    color:white;
    position: absolute;
    width:100%;
    top:100%;
    
}
#foot{
    top:105%;
}

.slide{
    position: absolute;
    cursor: pointer;
    border-radius: 34%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(51, 45, 38, 0.37);
    -webkit-transition: .5s;
    transition: .5s;

}
.slide:before{
    position:absolute;
    content: "";
    height:24px;
    border-radius: 50%;
    width:24px;
    left:74px;
    bottom:-4px;
    background-color:black;
    -webkit-transition: .5s;
    transition: .5s;
}

input:checked + .slide{
    background-color: rgb(88, 79, 79);
}
input:focus +.slide{
    box-shadow: 0 0 1px rgb(100, 104, 107);
}
input:checked + .slide{
    -webkit-transform: translateX(60px);
    -ms-transform: translateX(60px);
    transform: translateX(60px);
}
.midsection{
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:9% 0% 0% 0%
}
/* google map */
#map{
    height:90%;
    width:90%;
    background-color: cadetblue;
}